.b-cal-event .b-cal-event-icon:before {
  font-size: 1em;
}
.b-cal-event .b-cal-event-name {
  flex: 1;
  margin-inline-start: 0;
}
.b-cal-event small {
  display: block;
  margin-bottom: 1em;
}
.b-cal-event .b-cal-event-resource-avatars {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em 0;
}
.b-cal-event .b-cal-event-resource-avatars img {
  width: 2em;
  height: 2em;
  border-color: inherit !important;
  transition: transform 0.2s;
  margin-inline-start: -0.6em;
}
.b-cal-event .b-cal-event-resource-avatars img:hover {
  z-index: 1;
  transform: scale(2);
}

.b-sidebar {
  width: 20%;
}
